/* * {
    transition: all 0.5s;
} */

@media (max-width: 103.75rem) { /*1660px*/
    html {
        font-size: 14px;
    }

    .header-search-logo img {
        height: 2.5341666666666667rem;
        width: 2.5341666666666667rem;
    }

    .portal img {
        height: 2.2175rem;
        width: 2.2175rem;
        position: relative;
        top: 0.08333333333333333rem;
    }

    .header-search-btn img {
        width: 1.33rem;
    }

    .store-left img {
        width: 1.8375000000000001rem;
        height: 1.7108333333333334rem;
    }

    .popup-left ul li:nth-child(2):before,
    .popup-left ul li:nth-child(3):before,
    .popup-left ul li:nth-child(4):before,
    .popup-left ul li:nth-child(5):before {
        width: 1.8775000000000002rem;
        height: 1.8775000000000002rem;
        background-size: 1.7108333333333334rem 1.7108333333333334rem;
    }

    .header-search-eq .container a img {
        width: 3.611666666666667rem;
    }

    .equipment-long-menu-last img {
        width: 12.800333333333334rem;
    }

    .equipment-long-menu-second ul:last-child li:before,
    .equipment-long-menu-second ul:last-child li:nth-child(3):before,
    .equipment-long-menu-second ul:last-child li:nth-child(4):before,
    .equipment-long-menu-second ul:last-child li:nth-child(5):before {
        background-size: 1.3933333333333333rem 1.3933333333333333rem;
        position: relative;
        top: -0.16666666666666666rem;
    }

    .equipment-short-menu-last img {
        width: 19.453333333333333rem;
    }

    .equipment-short-menu-second ul:last-child li:before,
    .equipment-short-menu-second ul:last-child li:nth-child(3):before,
    .equipment-short-menu-second ul:last-child li:nth-child(4):before,
    .equipment-short-menu-second ul:last-child li:nth-child(5):before {
        width: 1.3933333333333333rem;
        background-size: 1.3933333333333333rem 1.3933333333333333rem;
        position: relative;
        top: -0.08333333333333333rem;
    }

    .swiper-img img {
        width: 16.221666666666668rem;
    }

    .sale-content img {
        width: 4.435rem;
    }

    .main-swiper .swiper-container {
        height: 100%;
    }

    .partners li:nth-child(1) img {
        width: 9.188333333333334rem;
    }

    .partners li:nth-child(2) img {
        width: 8.554166666666667rem;
    }

    .partners li:nth-child(3) img {
        width: 8.301166666666667rem;
    }

    .partners li:nth-child(4) img {
        width: 8.491666666666667rem;
    }

    .partners li:nth-child(5) img {
        width: 9.251666666666667rem;
    }

    .services-product {
        width: 8.110833333333334rem;
    }

    .services-flag {
        width: 1.0766666666666667rem;
    }

    .services-corp {
        width: 4.9425rem;
    }

    .services-slider .swiper-slide img {
        height: 100%;
    }

    .news-main img {
        width: 30.986666666666665rem;
    }

    .news-list img {
        width: 12.039916666666668rem;
    }

    .cards-firstline-big img {
        width: 17.109166666666667rem;
    }

    .cards-firstline a:nth-child(2) img {
        width: 6.3999999999999995rem;
    }

    .cards-firstline a:nth-child(3) img {
        width: 6.146666666666667rem;
    }

    .cards-secondline-long-wrap img {
        width: 26.995rem;
    }

    .cards-secondline-short1 img {
        width: 24.523416666666666rem;
    }

    .cards-secondline-short2 {
        height: 19.96rem;
    }

    .cards-secondline-short2 img {
        width: 24.523416666666666rem;
    }

    .offers-right img {
        width: 9.568583333333333rem;
    }

    .ourclients-line a:first-child img {
        width: 8.174166666666666rem;
    }

    .ourclients-line a:nth-child(2) img {
        width: 9.568333333333333rem;
    }

    .ourclients-line a:nth-child(3) img {
        width: 5.1325rem;
    }

    .ourclients-line a:nth-child(4) img {
        width: 4.689166666666667rem;
    }

    .ourclients-line a:nth-child(5) img {
        width: 5.449166666666667rem;
    }

    .ourclients-line a:nth-child(6) img {
        width: 4.879166666666666rem;
    }

    .ourclients-line2 a:nth-child(1) img {
        width: 6.59rem;
    }

    .ourclients-line2 a:nth-child(2) img {
        width: 5.5125rem;
    }

    .ourclients-line2 a:nth-child(3) img {
        width: 1.9008333333333332rem;
    }

    .ourclients-line2 a:nth-child(4) img {
        width: 8.934166666666666rem;
    }

    .ourclients-line2 a:nth-child(5) img {
        width: 9.695rem;
    }

    .ourclients-line2 a:nth-child(6) img {
        width: 6.083333333333333rem;
    }

    .ourclients-line3 a:nth-child(1) img {
        width: 12.483333333333334rem;
    }

    .ourclients-line3 a:nth-child(2) img {
        width: 5.385833333333333rem;
    }

    .ourclients-line3 a:nth-child(3) img {
        width: 5.3225rem;
    }

    .ourclients-line3 a:nth-child(4) img {
        width: 7.920833333333333rem;
    }

    .ourclients-line3 a:nth-child(5) img {
        width: 8.6175rem;
    }

    .ourclients-line3 a:nth-child(6) img {
        width: 11.785833333333334rem;
    }

    .companylogo img {
        width: 2.5341666666666667rem;
    }

    .services .swiper-slide {
        width: 27.166666666666668rem;
        height: 27.166666666666668rem;
    }

}

@media (max-width: 91.25rem) { /*1460*/
    html {
        font-size: 12px;
    }

    .header-search-logo img {
        height: 2.5341666666666667rem;
        width: 2.5341666666666667rem;
    }

    .portal img {
        height: 2.2175rem;
        width: 2.2175rem;
        position: relative;
        top: 0.08333333333333333rem;
    }

    .header-search-btn img {
        width: 1.33rem;
    }

    .store-left img {
        width: 1.8375000000000001rem;
        height: 1.7108333333333334rem;
    }

    .popup-left ul li:nth-child(2):before,
    .popup-left ul li:nth-child(3):before,
    .popup-left ul li:nth-child(4):before,
    .popup-left ul li:nth-child(5):before {
        width: 1.8775000000000002rem;
        height: 1.8775000000000002rem;
        background-size: 1.7108333333333334rem 1.7108333333333334rem;
    }

    .header-search-eq .container a img {
        width: 3.611666666666667rem;
    }

    .equipment-long-menu-last img {
        width: 12.800333333333334rem;
    }

    .equipment-long-menu-second ul:last-child li:before,
    .equipment-long-menu-second ul:last-child li:nth-child(3):before,
    .equipment-long-menu-second ul:last-child li:nth-child(4):before,
    .equipment-long-menu-second ul:last-child li:nth-child(5):before {
        background-size: 1.3933333333333333rem 1.3933333333333333rem;
        position: relative;
        top: -0.16666666666666666rem;
    }

    .equipment-short-menu-last img {
        width: 19.453333333333333rem;
    }

    .equipment-short-menu-second ul:last-child li:before,
    .equipment-short-menu-second ul:last-child li:nth-child(3):before,
    .equipment-short-menu-second ul:last-child li:nth-child(4):before,
    .equipment-short-menu-second ul:last-child li:nth-child(5):before {
        width: 1.3933333333333333rem;
        background-size: 1.3933333333333333rem 1.3933333333333333rem;
        position: relative;
        top: -0.08333333333333333rem;
    }

    .swiper-img img {
        width: 16.221666666666668rem;
    }

    .sale-content img {
        width: 4.435rem;
    }

    .main-swiper .swiper-container {
        height: 100%;
    }

    .partners li:nth-child(1) img {
        width: 9.188333333333334rem;
    }

    .partners li:nth-child(2) img {
        width: 8.554166666666667rem;
    }

    .partners li:nth-child(3) img {
        width: 8.301166666666667rem;
    }

    .partners li:nth-child(4) img {
        width: 8.491666666666667rem;
    }

    .partners li:nth-child(5) img {
        width: 9.251666666666667rem;
    }

    .services-product {
        width: 8.110833333333334rem;
    }

    .services-flag {
        width: 1.0766666666666667rem;
    }

    .services-corp {
        width: 4.9425rem;
    }

    .services-slider .swiper-slide img {
        height: 100%;
    }

    .news-main img {
        width: 30.986666666666665rem;
    }

    .news-list img {
        width: 12.039916666666668rem;
    }

    .cards-firstline-big img {
        width: 17.109166666666667rem;
    }

    .cards-firstline a:nth-child(2) img {
        width: 6.3999999999999995rem;
    }

    .cards-firstline a:nth-child(3) img {
        width: 6.146666666666667rem;
    }

    .cards-secondline-long-wrap img {
        width: 26.995rem;
    }

    .cards-secondline-short1 img {
        width: 24.523416666666666rem;
    }

    .cards-secondline-short2 {
        height: 19.96rem;
    }

    .cards-secondline-short2 img {
        width: 24.523416666666666rem;
    }

    .offers-right img {
        width: 9.568583333333333rem;
    }

    .ourclients-line a:first-child img {
        width: 8.174166666666666rem;
    }

    .ourclients-line a:nth-child(2) img {
        width: 9.568333333333333rem;
    }

    .ourclients-line a:nth-child(3) img {
        width: 5.1325rem;
    }

    .ourclients-line a:nth-child(4) img {
        width: 4.689166666666667rem;
    }

    .ourclients-line a:nth-child(5) img {
        width: 5.449166666666667rem;
    }

    .ourclients-line a:nth-child(6) img {
        width: 4.879166666666666rem;
    }

    .ourclients-line2 a:nth-child(1) img {
        width: 6.59rem;
    }

    .ourclients-line2 a:nth-child(2) img {
        width: 5.5125rem;
    }

    .ourclients-line2 a:nth-child(3) img {
        width: 1.9008333333333332rem;
    }

    .ourclients-line2 a:nth-child(4) img {
        width: 8.934166666666666rem;
    }

    .ourclients-line2 a:nth-child(5) img {
        width: 9.695rem;
    }

    .ourclients-line2 a:nth-child(6) img {
        width: 6.083333333333333rem;
    }

    .ourclients-line3 a:nth-child(1) img {
        width: 12.483333333333334rem;
    }

    .ourclients-line3 a:nth-child(2) img {
        width: 5.385833333333333rem;
    }

    .ourclients-line3 a:nth-child(3) img {
        width: 5.3225rem;
    }

    .ourclients-line3 a:nth-child(4) img {
        width: 7.920833333333333rem;
    }

    .ourclients-line3 a:nth-child(5) img {
        width: 8.6175rem;
    }

    .ourclients-line3 a:nth-child(6) img {
        width: 11.785833333333334rem;
    }

    .companylogo img {
        width: 2.5341666666666667rem;
    }

    .services .swiper-slide {
        width: 27.166666666666668rem;
        height: 27.166666666666668rem;
    }
}

@media (max-width: 80rem) { /*1280*/
    html {
        font-size: 10px;
    }

    .header-search-logo img {
        height: 2.5341666666666667rem;
        width: 2.5341666666666667rem;
    }

    .portal img {
        height: 2.2175rem;
        width: 2.2175rem;
        position: relative;
        top: 0.08333333333333333rem;
    }

    .header-search-btn img {
        width: 1.33rem;
    }

    .store-left img {
        width: 1.8375000000000001rem;
        height: 1.7108333333333334rem;
    }

    .popup-left ul li:nth-child(2):before,
    .popup-left ul li:nth-child(3):before,
    .popup-left ul li:nth-child(4):before,
    .popup-left ul li:nth-child(5):before {
        width: 1.8775000000000002rem;
        height: 1.8775000000000002rem;
        background-size: 1.7108333333333334rem 1.7108333333333334rem;
    }

    .header-search-eq .container a img {
        width: 3.611666666666667rem;
    }

    .equipment-long-menu-last img {
        width: 12.800333333333334rem;
    }

    .equipment-long-menu-second ul:last-child li:before,
    .equipment-long-menu-second ul:last-child li:nth-child(3):before,
    .equipment-long-menu-second ul:last-child li:nth-child(4):before,
    .equipment-long-menu-second ul:last-child li:nth-child(5):before {
        background-size: 1.3933333333333333rem 1.3933333333333333rem;
        position: relative;
        top: -0.16666666666666666rem;
    }

    .equipment-short-menu-last img {
        width: 19.453333333333333rem;
    }

    .equipment-short-menu-second ul:last-child li:before,
    .equipment-short-menu-second ul:last-child li:nth-child(3):before,
    .equipment-short-menu-second ul:last-child li:nth-child(4):before,
    .equipment-short-menu-second ul:last-child li:nth-child(5):before {
        width: 1.3933333333333333rem;
        background-size: 1.3933333333333333rem 1.3933333333333333rem;
        position: relative;
        top: -0.08333333333333333rem;
    }

    .swiper-img img {
        width: 16.221666666666668rem;
    }

    .sale-content img {
        width: 4.435rem;
    }

    .main-swiper .swiper-container {
        height: 100%;
    }

    .partners li:nth-child(1) img {
        width: 9.188333333333334rem;
    }

    .partners li:nth-child(2) img {
        width: 8.554166666666667rem;
    }

    .partners li:nth-child(3) img {
        width: 8.301166666666667rem;
    }

    .partners li:nth-child(4) img {
        width: 8.491666666666667rem;
    }

    .partners li:nth-child(5) img {
        width: 9.251666666666667rem;
    }

    .services-product {
        width: 8.110833333333334rem;
    }

    .services-flag {
        width: 1.0766666666666667rem;
    }

    .services-corp {
        width: 4.9425rem;
    }

    .services-slider .swiper-slide img {
        height: 100%;
    }

    .news-main img {
        width: 30.986666666666665rem;
    }

    .news-list img {
        width: 12.039916666666668rem;
    }

    .cards-firstline-big img {
        width: 17.109166666666667rem;
    }

    .cards-firstline a:nth-child(2) img {
        width: 6.3999999999999995rem;
    }

    .cards-firstline a:nth-child(3) img {
        width: 6.146666666666667rem;
    }

    .cards-secondline-long-wrap img {
        width: 26.995rem;
    }

    .cards-secondline-short1 img {
        width: 24.523416666666666rem;
    }

    .cards-secondline-short2 {
        height: 19.96rem;
    }

    .cards-secondline-short2 img {
        width: 24.523416666666666rem;
    }

    .offers-right img {
        width: 9.568583333333333rem;
    }

    .ourclients-line a:first-child img {
        width: 8.174166666666666rem;
    }

    .ourclients-line a:nth-child(2) img {
        width: 9.568333333333333rem;
    }

    .ourclients-line a:nth-child(3) img {
        width: 5.1325rem;
    }

    .ourclients-line a:nth-child(4) img {
        width: 4.689166666666667rem;
    }

    .ourclients-line a:nth-child(5) img {
        width: 5.449166666666667rem;
    }

    .ourclients-line a:nth-child(6) img {
        width: 4.879166666666666rem;
    }

    .ourclients-line2 a:nth-child(1) img {
        width: 6.59rem;
    }

    .ourclients-line2 a:nth-child(2) img {
        width: 5.5125rem;
    }

    .ourclients-line2 a:nth-child(3) img {
        width: 1.9008333333333332rem;
    }

    .ourclients-line2 a:nth-child(4) img {
        width: 8.934166666666666rem;
    }

    .ourclients-line2 a:nth-child(5) img {
        width: 9.695rem;
    }

    .ourclients-line2 a:nth-child(6) img {
        width: 6.083333333333333rem;
    }

    .ourclients-line3 a:nth-child(1) img {
        width: 12.483333333333334rem;
    }

    .ourclients-line3 a:nth-child(2) img {
        width: 5.385833333333333rem;
    }

    .ourclients-line3 a:nth-child(3) img {
        width: 5.3225rem;
    }

    .ourclients-line3 a:nth-child(4) img {
        width: 7.920833333333333rem;
    }

    .ourclients-line3 a:nth-child(5) img {
        width: 8.6175rem;
    }

    .ourclients-line3 a:nth-child(6) img {
        width: 11.785833333333334rem;
    }

    .companylogo img {
        width: 2.5341666666666667rem;
    }

    .services .swiper-slide {
        width: 27.166666666666668rem;
        height: 27.166666666666668rem;
    }
}

@media (max-width: 62rem) { /*992*/
    html {
        font-size: 8px;
    }

    .header-search-logo img {
        height: 2.5341666666666667rem;
        width: 2.5341666666666667rem;
    }

    .portal img {
        height: 2.2175rem;
        width: 2.2175rem;
        position: relative;
        top: 0.08333333333333333rem;
    }

    .header-search-btn img {
        width: 1.33rem;
    }

    .store-left img {
        width: 1.8375000000000001rem;
        height: 1.7108333333333334rem;
    }

    .popup-left ul li:nth-child(2):before,
    .popup-left ul li:nth-child(3):before,
    .popup-left ul li:nth-child(4):before,
    .popup-left ul li:nth-child(5):before {
        width: 1.8775000000000002rem;
        height: 1.8775000000000002rem;
        background-size: 1.7108333333333334rem 1.7108333333333334rem;
    }

    .header-search-eq .container a img {
        width: 3.611666666666667rem;
    }

    .equipment-long-menu-last img {
        width: 12.800333333333334rem;
    }

    .equipment-long-menu-second ul:last-child li:before,
    .equipment-long-menu-second ul:last-child li:nth-child(3):before,
    .equipment-long-menu-second ul:last-child li:nth-child(4):before,
    .equipment-long-menu-second ul:last-child li:nth-child(5):before {
        background-size: 1.3933333333333333rem 1.3933333333333333rem;
        position: relative;
        top: -0.16666666666666666rem;
    }

    .equipment-short-menu-last img {
        width: 19.453333333333333rem;
    }

    .equipment-short-menu-second ul:last-child li:before,
    .equipment-short-menu-second ul:last-child li:nth-child(3):before,
    .equipment-short-menu-second ul:last-child li:nth-child(4):before,
    .equipment-short-menu-second ul:last-child li:nth-child(5):before {
        width: 1.3933333333333333rem;
        background-size: 1.3933333333333333rem 1.3933333333333333rem;
        position: relative;
        top: -0.08333333333333333rem;
    }

    .swiper-img img {
        width: 16.221666666666668rem;
    }

    .sale-content img {
        width: 4.435rem;
    }

    .main-swiper .swiper-container {
        height: 100%;
    }

    .partners li:nth-child(1) img {
        width: 9.188333333333334rem;
    }

    .partners li:nth-child(2) img {
        width: 8.554166666666667rem;
    }

    .partners li:nth-child(3) img {
        width: 8.301166666666667rem;
    }

    .partners li:nth-child(4) img {
        width: 8.491666666666667rem;
    }

    .partners li:nth-child(5) img {
        width: 9.251666666666667rem;
    }

    .services-product {
        width: 8.110833333333334rem;
    }

    .services-flag {
        width: 1.0766666666666667rem;
    }

    .services-corp {
        width: 4.9425rem;
    }

    .services-slider .swiper-slide img {
        height: 100%;
    }

    .news-main img {
        width: 30.986666666666665rem;
    }

    .news-list img {
        width: 12.039916666666668rem;
    }

    .cards-firstline-big img {
        width: 17.109166666666667rem;
    }

    .cards-firstline a:nth-child(2) img {
        width: 6.3999999999999995rem;
    }

    .cards-firstline a:nth-child(3) img {
        width: 6.146666666666667rem;
    }

    .cards-secondline-long-wrap img {
        width: 26.995rem;
    }

    .cards-secondline-short1 img {
        width: 24.523416666666666rem;
    }

    .cards-secondline-short2 {
        height: 19.96rem;
    }

    .cards-secondline-short2 img {
        width: 24.523416666666666rem;
    }

    .offers-right img {
        width: 9.568583333333333rem;
    }

    .ourclients-line a:first-child img {
        width: 8.174166666666666rem;
    }

    .ourclients-line a:nth-child(2) img {
        width: 9.568333333333333rem;
    }

    .ourclients-line a:nth-child(3) img {
        width: 5.1325rem;
    }

    .ourclients-line a:nth-child(4) img {
        width: 4.689166666666667rem;
    }

    .ourclients-line a:nth-child(5) img {
        width: 5.449166666666667rem;
    }

    .ourclients-line a:nth-child(6) img {
        width: 4.879166666666666rem;
    }

    .ourclients-line2 a:nth-child(1) img {
        width: 6.59rem;
    }

    .ourclients-line2 a:nth-child(2) img {
        width: 5.5125rem;
    }

    .ourclients-line2 a:nth-child(3) img {
        width: 1.9008333333333332rem;
    }

    .ourclients-line2 a:nth-child(4) img {
        width: 8.934166666666666rem;
    }

    .ourclients-line2 a:nth-child(5) img {
        width: 9.695rem;
    }

    .ourclients-line2 a:nth-child(6) img {
        width: 6.083333333333333rem;
    }

    .ourclients-line3 a:nth-child(1) img {
        width: 12.483333333333334rem;
    }

    .ourclients-line3 a:nth-child(2) img {
        width: 5.385833333333333rem;
    }

    .ourclients-line3 a:nth-child(3) img {
        width: 5.3225rem;
    }

    .ourclients-line3 a:nth-child(4) img {
        width: 7.920833333333333rem;
    }

    .ourclients-line3 a:nth-child(5) img {
        width: 8.6175rem;
    }

    .ourclients-line3 a:nth-child(6) img {
        width: 11.785833333333334rem;
    }

    .companylogo img {
        width: 2.5341666666666667rem;
    }

    .services .swiper-slide {
        width: 27.166666666666668rem;
        height: 27.166666666666668rem;
    }
}

@media (max-width: 47.9375rem) {
    
    html {
        font-size: 16px;
    }

    header {
        position: static;
    }

    .header-search-eq, .header-wrap-second, .header-wrap {
        display: none;
    }

    .mobile-nav {
        display: block;
        background: #f1f1f1;

    }

    .mobile-nav-wrap {
        display: flex;
        padding-left: 29px;
        padding-top: 12px;
        padding-right: 30px;
        justify-content: space-between;
    }

    .mobile-nav-burger {
        min-width: 4.5625rem;
        height: 4.5625rem;
        border-radius: 50%;
        cursor: pointer;
        background: #fda11c;
        text-align: center;
    }

    .mobile-nav-burger img {
        position: relative;
        top: 1.5625rem;
    }

    .mobile-nav-logo {
        display: flex;
        width: 48.7%;
        padding-top: 10px;
    }

    .mobile-nav-logo p:first-child {
        font-size: 1.875rem;
        color: #353535;
    }

    .mobile-nav-logo p:last-child {
        font-size: 1.125rem;
        color: #777777;
        font-weight: 300;
        line-height: 0.75rem;
    }

    .mobile-nav-logo img{
        height: 3.4375rem;
    }

    .mobile-nav-words {
        position: relative;
        top: 0.125rem;
        margin-left: 0.6875rem;
    }

    .mobile-nav-icons {
        display: flex;
        width: 32%;
        justify-content: space-between;
        padding-top: 9px;
    }

    .nav-icons-search img{
        width: 50px;
        height: 57px;
    }

    .nav-icons-phone img{
        width: 47px;
        height: 58px;
    }

    .nav-icons-bascket span {
        display: block;
        font-size: 25.25px;
        font-weight: 300;
        color: #fda11c;
        position: relative;
        top: -10px;
        text-align: center;
    }

    .nav-icons-bascket div {
        width: 56px;
        height: 49px;
        position: relative;
        top: -20px;
    }

    .nav-icons-bascket img {
        width: 100%;
        height: 100%;
    }
    
    .nav-equipment {
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        cursor: pointer;
        padding: 22px 30px 22px 29px;
    }

    .nav-equipment p {
        font-size: 30px;
        font-weight: 300;
        color: #000000;
    }

    .nav-equipment p:after {
        content: '>';
        color: #777777;
        display: inline-block;
        float: right;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    .main {
        margin-top: 0;
    }

    .main .container {
        display: block;
    }

    .main-target {
        display: none;
    }

    .main-sale {
        width: 100%;
    }

    .main-swiper {
        width: 100%;
        height: 556px;
    }

    .swiper-portfolio {
        font-size: 25px;
    }

    .swiper-title {
        margin-top: 46px;
        width: 90%;
    }

    .swiper-subtitle {
        font-size: 25px;
        margin-bottom: 44px;
        margin-top: 20px;
    }

    .swiper-words {
        margin-left: 31px;
        margin-top: 83px;
    }

    .swiper-words a {
        font-size: 30px;
        border-radius: 26.5px;
        padding: 10.55px 33px;
    }

    .swiper-img {
        bottom: 100px;
        left: 440px;
    }

    .swiper-img img {
        width: 273px;
        height: 386px;
    }

    .pagination-arrow {
        display: block;
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 26px !important;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 90.55% !important;
    }

    .swiper-button-next {
        right: 30px !important;
    }

    .swiper-button-prev {
        left: 28px !important;
    }

    .swiper-pagination-bullet {
        margin: 0 20px 0 0 !important;
        width: 14px !important;
        height: 14px !important;
    }

    .swiper-pagination {
        bottom: 60px !important;
    }

    .main-sale {
        width: 91.5%;
        margin: 30px auto;
        height: 472px;
    }

    .sale-content img {
        width: 116px;
        height: 146px;
        margin-left: 2px;
    }
    
    .words-first {
        margin-top: 15px;
        font-size: 25px;
        margin-bottom: 5px;
    }

    .words-second {
        font-size: 50px;
    }

    .words-last {
        margin-top: 29px;
        font-size: 30px;
    }

    .sale-content {
        margin-top: 81px;
        margin-left: 58px;
    }

    .sale-words {
        margin-left: 0px;
    }

    .partners {
        margin-top: 0;
    }
    
    .partners .container {
        width: 91.9%;
    }

    .partners .container ul {
        flex-wrap: wrap;
        padding: 0;
    }

    .partners .container ul li {
        width: 50%;
        /* height: 169px; */
        height: 119px;
        border-left: none;
        border-right: none;
        position: relative;
        padding: 25px 0;
    }

    .partners li a {
        position: absolute;
    }

    .partners li:nth-child(1) a {
        top: 50%;
        left: 11.4%;
        transform: translateY(-50%);
    }

    .partners li:nth-child(2) a {
        top: 50.9%;
        left: 23.3%;
        transform: translateY(-50%);
    }

    .partners li:nth-child(3) a {
        top: 52%;
        left: 13.49%;
        transform: translateY(-50%);
    }

    .partners li:nth-child(4) a {
        top: 53%;
        left: 22.1%;
        transform: translateY(-50%);
    }

    .partners li:nth-child(5) a {
        top: 51%;
        left: 11.2%;
        transform: translateY(-50%);
    }

    .partners li:nth-child(6) a {
        top: 50.9%;
        left: 33%;
        transform: translateY(-50%);
    }

    .partners li:nth-child(3), .partners li:nth-child(4) {
        border-bottom: 3px solid #eae9e9;
        border-top: 3px solid #eae9e9;
    } 

    .partners li:nth-child(1) img {
        width: 240px;
    }

    .partners li:nth-child(2) img {
        width: 221px;
    }

    .partners li:nth-child(3) img {
        width: 214px;
    }

    .partners li:nth-child(4) img {
        width: 224px;
    }

    .partners li:nth-child(5) img {
        width: 241px;
    }

    .partners .container ul li:last-child a {
        font-size: 30px;
    }

    .partners .container ul li:nth-child(1):after,
    .partners .container ul li:nth-child(3):after,
    .partners .container ul li:nth-child(5):after  {
        content: '';
        width: 2px;
        height: 119px;
        background: #eae9e9;
        display: block;
        float: right;
    }

    .services .container {
        display: block;
    }

    .services-special {
        width: 91.9%;
        margin: 0 auto;
    }

    .services-products {
        display: block;
    }

    .services-products a {
        width: 100%;
        display: flex;
        text-align: start;
        padding: 3.3125rem 0 26px 0;
    }

    .services-products a:nth-child(2) {
        border: none;
        border-top: 2px solid #e8e8e8;
        border-bottom: 2px solid #e8e8e8;
    }

    .services-products a div:first-child {
        padding-left: 34px;
        padding-top: 4px;
        padding-right: 64px;
    }

    .services-products a div:last-child {
        position: relative;
        top: -11px;
    }

    .services-flag {
        width: 48px;
        height: 30px;
        margin: 0;
        margin-left: 3px;
        margin-bottom: 27px;
    }

    .services-products-name {
        font-size: 30px;
        width: 90%;
        margin-bottom: 22px;
    }

    .services-products-price {
        font-size: 30px;
    }

    .services-corp {
        width: 129px;
        margin-top: 22px;
        position: relative;
        left: -6px;
    }

    .services-title {
        padding: 22px 0 22px 31px;
    }

    .services-title a {
        font-size: 40px;
    }

    .services {
        margin-top: 29px;
    }

    .services-product {
        width: 269px;
    }

    .services-slider {
        width: 100%;
        height: 556px;
        margin: 0;
        margin-top: 31px;
    }

    .swiper-container {
        height: 556px;
    }

    .services .swiper-slide {
        height: 100%;
    }

    .services .swiper-slide img {
        height: 100%;
        width: 100%;
    }
    
    .services-slider .swiper-title {
        font-size: 50px;
        margin-bottom: 14px;
    }

    .services-slider .swiper-subtitle {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .services-slider .swiper-words a {
        font-size: 30px;
    }

    .services-slider .swiper-words {
        position: static;
        margin-left: 35px;
        margin-top: 218px;
        width: 70%;
    }

    .services-slider .swiper-pagination.swiper-pagination-bullets {
        top: -20px;
    }

/*-----------*/
.main .container, .news .container, .recomend .container, .offers .container, .ourclients .container {
    overflow: hidden;
} 
/*-----------*/

} 

/* TODO
-сделать фиксированные размеры в % для блоков
-в ссылке с корзинкой и цыфрами сделать один блок
-марджины для элементов не использовать если можно родителю задасть педдинг
-картинкам сделать фиксированные размеры
-дальше работаем через PP */