@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro LightSemiExt.eot');
	src: local('☺'), url('../fonts/MyriadPro LightSemiExt.woff') format('woff'), url('../fonts/MyriadPro LightSemiExt.ttf') format('truetype'), url('fonts/MyriadPro LightSemiExt.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}


/*---------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f3f1f1;
}

input::-ms-clear {
    display: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/*-----------------------------*/

header {
    position: sticky;
    top: 0;
    width: 100%;
}

.header-wrap {
    background: #34a853;
    padding: 10px 0;
}

.header-wrap-second {
    background: #e7e6e6;
    
}

.container {
    max-width: 1545px;
    margin: 0 auto;
}

.menu {
    display: flex;
}

.menu ul:first-child{
    width: 25.35%;
    padding-right: 1.8%;
}

.menu ul:nth-child(2) {
    width: 39.4%;
    padding: 4px 2.2%;
    border-right: 1px solid #67be7e;
    border-left: 1px solid #67be7e;
}

.menu ul:last-child{
    width: 35.29%;
    padding-left: 1.8%;
}

.menu ul:last-child li div{
    display: flex;
}

.menu ul:last-child li .img1 img{
    height: 15px;
    width: 20px;
    margin-right: 7px;
}

.menu ul:last-child li .img2 img{
    position: relative;
    height: 20px;
    top: -3px;
    margin-right: 3px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu__words li {
    margin-right: 0px;
}

.menu__words li a {
    font-family: 'MyriadPro', sans-serif;
    color: #ffffff;
    font-size: 16px;
}


.header-search {
    display: flex; 
    justify-content: space-between;
}

.header-search-form {
    position: relative;
    display: flex;
    width: 885px;
    height: 35px;
    left: 46px;
    /* 7px */
    top: 14px;
}

.header-search-logo {
    display: inline-block;
}

.header-search-logo div {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 12px 0;
}

.header-search-logo span {
    font-family: 'MyriadPro', sans-serif;
    color: #1d1d1d;
    font-size: 33px;
    line-height: 0.9;  
}

.header-search-logo img {
    margin-right: 7px;
}

.header-search-catigories {
    display: inline-block;
    border-right: 1px solid #e7e6e6;
    background: #f1f1f1;
    border-radius: 5px 0 0 5px;
}

.header-search-select {
    display: flex;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 6px;
    padding-top: 12px;
    padding-bottom: 8px;
}

.header-search-select span {    
    font-family: 'MyriadPro', sans-serif;
    color: #777777;
    font-size: 16px;
    line-height: 0.9;  
    margin-right: 2px;
    font-weight: 400;
}

.header-search-select img {
    padding-top: 4px;
    padding-left: 5px;
    height: 6px;
    width: 12px;
}

.header-search-input {
    width: 100%;
}

.header-search-input input {
    outline: none;
    height: 100%;
    border: none;
    width: 100%;
    padding-left: 10px;
    font-family: 'MyriadPro', sans-serif;
    color: #777777;
    font-size: 16px;
    line-height: 0.8;
}

.header-search-btn {
    margin-left: 10px;
    background: #faad3d;
    border-radius: 0 5px 5px 0;
}

.header-search-btn img {
    display: block;
    margin: 0 14px;
    margin-top: 7px;
    margin-bottom: 5px;
}

.portal {
    display: flex;
    height: 35px;
    position: relative;
    top: 13px;
    left: 50px;
}

.portal p {
    padding-top: 4px;
    display: flex;
    font-size: 14px;
    font-family: 'MyriadPro', sans-serif;
    font-weight: 300;
    color: #777777;
    margin-left: 6px;
    width: 96px;
    line-height: 1.2;
}

.header-search-store {
    display: flex;
    width: 11%;
    position: relative;
    left: 40px;
}

.header-search-store .store-right {
    width: 100.4%;       
    padding-top: 10px;
    padding-left: 12px;
    position: relative;
    top: 5px;
    left: -3px;
}

.header-search-store .store-left img {
    position: relative;
    bottom: 3px;
}

.header-search-store .store-left {
    position: relative;
    text-align: center;
    top:5px;
}

.header-search-store .store-left span {
    position: relative;
    font-size: 14px;
    font-family: 'MyriadPro', sans-serif;
    font-weight: 400;
    color: #ea8b00;   
    left: 2px;
    top: 4px;
}

.header-search-store .store-sum{
    font-size: 14px;
    font-family: 'MyriadPro', sans-serif;
    font-weight: 300;
    color: #777777;   
}

.header-search-store .store-num{
    width: 100px;
    display: block;
    font-size: 16px;
    font-family: 'MyriadPro', sans-serif;
    font-weight: 400;
    color: #1d1d1d;
}

.header-search-eq .container{    
    display: flex;
    justify-content: space-between;
}

.header-search-eq .container p {
    font-size: 16px;
    font-family: 'MyriadPro', sans-serif;
    font-weight: 400;
    color: #373737;
}

.header-search-eq .container img {
    display: block;
    margin: 0 auto;
    margin-bottom: 6px;
}

.header-search-eq {
    padding-top: 9px;
    padding-bottom: 9px;
    background: #ffffff;
    box-shadow: 7px 7px 18px rgba(33, 37, 41, 0.12);
}

/* main section */

.main {
    margin-top: 21px;
    /* display: flex; */
}

/* --------------------------------------------- */
/* .main .container {
    display: flex;
} */

/* ----------------------------------------------- */

.main-target {
    width: 19.63%;
    background: #ffffff;
}

.main-target p {
    font-size: 24px;
    font-family: 'MyriadPro', sans-serif;
    font-weight: 400;
    color: #faad3d;
    padding: 30px 0 9px 26px;
}

.main-target a {
    display: block;
    font-size: 16px;
    font-family: 'MyriadPro', sans-serif;
    font-weight: 300;
    color: #333333;
    width: 100%;

    line-height: auto;
}

.main-target li {
    padding: 13px 0 12px 27px;
    /* padding: 0 0 0 27px; */
    border-bottom: 1px solid #ededed;
}

.main-target li a:hover {
    color: #faad3d;
    transition: color .2s linear;
}

.main-target li a:after { 
    content: '>';
    color: #cecece;
    display: inline-block;
    float: right;
    padding-right: 21px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.main-target li:last-child {
    border-bottom: 0px;
    padding-bottom: 17px;
}

.temp {
    width: 100%;
    height: 20000px;
}


/* .main-swiper {
    display: inline;
}

.swiper-container {
    width: 58.4%;   
    height: 476px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } */