@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro LightSemiExt.eot');
	src: local('☺'), url('../fonts/MyriadPro LightSemiExt.woff') format('woff'), url('../fonts/MyriadPro LightSemiExt.ttf') format('truetype'), url('fonts/MyriadPro LightSemiExt.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro Semibold.eot');
	src: local('☺'), url('../fonts/MyriadPro Semibold.woff') format('woff'), url('../fonts/MyriadPro Semibold.ttf') format('truetype'), url('fonts/MyriadPro Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}



/*---------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'MyriadPro', sans-serif;
}

body {
    background: #f3f1f1;
}

input::-ms-clear {
    display: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/*-----------------------------*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

a, span {     
    user-select: none;                          
    -ms-user-select: none;                                  
    -moz-user-select: none;                                   
    -khtml-user-select: none;                                
    -webkit-user-select: none; 
}

.header-wrap {
    background: #34a853;
    padding: 10px 0;
}

.header-wrap-second {
    background: #e7e6e6;
    
}

.container {
    max-width: 1545px;
    margin: 0 auto;
}

.menu {
    display: flex;
}

.menu ul:first-child{
    width: 25.35%;
    padding-right: 1.8%;
}

.menu ul:nth-child(2) {
    width: 39.4%;
    padding: 4px 2.2%;
    border-right: 1px solid #67be7e;
    border-left: 1px solid #67be7e;
}

.menu ul:last-child{
    width: 35.29%;
    padding-left: 1.8%;
}

.menu ul:last-child li div{
    display: flex;
}

.menu ul:last-child li .img1 img{
    height: 15px;
    width: 20px;
    margin-right: 7px;
}

.menu ul:last-child li .img2 img{
    position: relative;
    height: 20px;
    top: -3px;
    margin-right: 3px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu__words li {
    margin-right: 0px;
}

.menu__words li a {
    color: #ffffff;
    font-size: 16px;
}

.e-mail-out {
    background: #5db975;
}

.e-mail-copy {
    position: absolute;
    display: none;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    top: 40px;
    background: #191919;
    z-index: 20;
    border-radius: 22.5px;
    padding: 16px 37px;
}

.header-search {
    display: flex; 
    justify-content: space-between;
}

.header-search-form {
    position: relative;
    display: flex;
    width: 885px;
    height: 35px;
    left: 46px;
    top: 14px;
}

.header-search-logo {
    display: inline-block;
}

.header-search-logo div {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 12px 0;
}

.header-search-logo span {
    color: #1d1d1d;
    font-size: 33px;
    line-height: 0.9;  
}

.header-search-logo img {
    margin-right: 7px;
}

.header-search-catigories {
    display: inline-block;
    border-right: 1px solid #e7e6e6;
    background: #f1f1f1;
    border-radius: 5px 0 0 5px;
}

.header-search-catigories-list {
    display: none;
    position: absolute;
    left: 1px;
    top: 36px;
    background: #f1f1f1;
    border: 1px solid #e7e6e6;
    padding: 0 35px 30px 14px;
}

/* .header-search-catigories-list.out {
    display: block;
    position: absolute;
    left: 1px;
    top: 36px;
    background: #f1f1f1;
    border: 1px solid #e7e6e6;
    padding: 0 35px 30px 14px;
} */

.header-search-catigories-list p {
    font-weight: 300;
    font-size: 16px;
    color: #777777;
    margin-top: 14px;
    margin-bottom: 29px;
}

.header-search-catigories-list li a {
    font-weight: 300;
    font-size: 16px;
    color: #373737;
}

.header-search-catigories-list li {
    margin-bottom: 4px;
}

.header-search-catigories-list li a:hover{
    color: #34a853;
}

.header-search-select {
    display: flex;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 6px;
    padding-top: 12px;
    padding-bottom: 8px;
}

.header-search-select span {    
    color: #777777;
    font-size: 16px;
    line-height: 0.9;  
    margin-right: 2px;
    font-weight: 400;
    white-space: nowrap;
}

.header-search-select img {
    padding-top: 4px;
    padding-left: 5px;
    height: 6px;
    width: 12px;
    user-select: none;
}

.header-search-input {
    width: 100%;
}

.header-search-input input {
    outline: none;
    height: 100%;
    border: none;
    width: 100%;
    padding-left: 10px;
    color: #777777;
    font-size: 16px;
    line-height: 0.8;
}

.header-search-btn {
    margin-left: 10px;
    background: #faad3d;
    border-radius: 0 5px 5px 0;
}

.header-search-btn img {
    display: block;
    margin: 0 14px;
    margin-top: 7px;
    margin-bottom: 5px;
}

.portal {
    display: flex;
    height: 35px;
    position: relative;
    top: 13px;
    left: 50px;
}

.portal p {
    padding-top: 4px;
    display: flex;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
    margin-left: 6px;
    width: 96px;
    line-height: 1.2;
}

.header-search-store {
    display: flex;
    width: 11%;
    position: relative;
    left: 40px;
    padding: 0 17px;
}

.header-search-store:hover {
    background: #faad3d;
}

.header-search-store:hover .store-sum, .header-search-store:hover .store-num,
.header-search-store:hover .store-count {
    color: #fff;
}

.header-search-store .store-right {
    width: 100.4%;       
    padding-top: 10px;
    padding-left: 12px;
    position: relative;
    top: 5px;
    left: -3px;
}

.header-search-store .store-left img {
    position: relative;
    bottom: 3px;
}

.header-search-store .store-left {
    position: relative;
    text-align: center;
    top:5px;
}

.header-search-store .store-left span {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #ea8b00;   
    left: 2px;
    top: 4px;
}

.header-search-store .store-sum{
    font-size: 14px;
    font-weight: 300;
    color: #777777;   
}

.header-search-store .store-num{
    width: 100px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #1d1d1d;
}

.header-search-eq .container{    
    display: flex;
    justify-content: space-between;
}

.header-search-eq .container p {
    font-size: 16px;
    font-weight: 400;
    color: #373737;
}

.header-search-eq .container img {
    display: block;
    margin: 0 auto;
    margin-bottom: 6px;
}

.header-search-eq {
    position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    background: #ffffff;
    box-shadow: 7px 7px 18px rgba(33, 37, 41, 0.12);
    z-index: -1;
    transition: all .3s ease;
    top: 0px;
}

.header-search-eq.out {
    transform: translateY(-100%);
}

.equipment-long-wrap {
    display: flex;
    position: absolute;
    z-index: -2;
    top:-1;
}

.equipment-long-menu {
    position: relative;
    display: none;    
    background: #fff;
    padding-top: 29px;
    padding-bottom: 104px;
    border-right: 1px solid #e9e7e7;
}

.equipment-long-menu li {
    cursor: pointer;
    padding-left: 90px;
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    border-bottom: 1px solid #e9e7e7;
    padding-top: 9px;
    padding-bottom: 8px;
}

.equipment-long-menu li:last-child {
    border: none;
}

.equipment-long-menu li:hover {
    color: #faad3d;
    transition: color 100ms;
}

.equipment-long-menu li:after {
    content: '>';
    color: #cecece;
    display: inline-block;
    float: right;
    padding-left: 60px;
    padding-right: 17px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.equipment-long-menu li:hover:after {
    color: #abd89c;
}

.equipment-long-menu-second {
    background: #f3f1f1;
    border-right: 1px solid #e9e7e7;
}

.equipment-long-menu-second ul:first-child li {
    font-size: 18px;
    font-weight: 300;
    color: #191919;
}

.equipment-long-menu-second ul:last-child {
    margin-left: 28px;
    margin-top: 33px;
}

.equipment-long-menu-second ul:last-child p {
    margin-left: 1px;
    font-size: 18px;
    font-weight: 300;
    color: #777777;
}

.equipment-long-menu-second ul:last-child li {
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    margin-top: 8px;
}

.equipment-long-menu-second ul:last-child li:before {
    content: '';
    margin-right: 6px;
    width: 22px;
    height: 22px;
    display: block;
    float: left;
    position: relative;
    background: url('../img/Spain.png') 0 1px no-repeat;
}

.equipment-long-menu-second ul:last-child li:nth-child(3):before {
    background: url('../img/Switzerland.png') 0 1px no-repeat;
}

.equipment-long-menu-second ul:last-child li:nth-child(4):before {
    background: url('../img/Germany.png') 0 1px no-repeat;
}

.equipment-long-menu-second ul:last-child li:nth-child(5):before {
    background: url('../img/Turkey.png') 0 1px no-repeat;
}

.equipment-long-menu-second ul:first-child {
    border-bottom: 1px solid #e9e7e7;
    padding-left: 29px;
    margin-top: 38px;
    padding-bottom: 34px;
    padding-right: 62px;
}

.equipment-long-menu-second ul:first-child li {
    margin-top: 8px;
}


.equipment-long-menu-second ul li:hover {
    cursor: pointer;
    color: #faad3d;
    transition: color .2s linear;
 }

.equipment-long-menu-third {
    background: #f3f1f1;
}

.equipment-long-menu-third ul {
    margin-left: 27px;
    padding-right: 117px;
}

.equipment-long-menu-third p {
    margin-top: 38px;
    font-size: 18px;
    font-weight: 300;
    color: #777777;
    margin-bottom: 1px;
    margin-left: 27px;
}

.equipment-long-menu-third li {
    font-size: 24px;
    font-weight: 300;
    color: #333333;
    margin-top: 2px;
}

.equipment-long-menu-third li:hover {
    cursor: pointer;
    color: #faad3d;
    transition: color .2s linear;
}

.equipment-long-menu-last {
    background: #faad3d;
    text-align: center;
    padding: 0 65px;
}

.equipment-long-menu-last p {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 22px;
}

.equipment-long-menu-last a {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background: #191919;
    padding: 9px 27px 7px 25px;
    border-radius: 5px;
}

.equipment-long-menu-last img {
    margin-top: 34px;
    margin-bottom: 22px;
}

.equipment-other-wrap {
    display: flex;
    height: 100%;
}

#hidemenu {
    display: none;
}

.shadowBackground {
    display: none;
	content: '';
	background: rgba(0, 0, 0, 0.507);
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
    z-index: -3;
    /* transition: 3s; */
}

/* main section */

.main {
    margin-top: 21px;
}

.main-target {
    width: 19.63%;
    background: #ffffff;
}

.main-target p {
    font-size: 24px;
    font-weight: 400;
    color: #faad3d;
    padding: 30px 0 9px 26px;
}

.main-target a {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
    width: 100%;

    line-height: auto;
}

.main-target li {
    padding: 13px 0 12px 27px;
    border-bottom: 1px solid #ededed;
}

.main-target li a:hover {
    color: #faad3d;
    transition: color .2s linear;
}

.main-target li a:after { 
    content: '>';
    color: #cecece;
    display: inline-block;
    float: right;
    padding-right: 21px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.main-target li:last-child {
    border-bottom: 0px;
    padding-bottom: 17px;
}

.main .container {
    display: flex;
    justify-content: space-between;
}

.main-swiper {
    width: 58.4%;
    z-index: 0;
}

.swiper-container {
    margin: 0 0;
    height: 476px;
  }

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
  }

.swiper-pagination {
    position: relative !important; 
    bottom: 47px !important;
}

.swiper-pagination-bullet {
    margin: 0 11px 0 0 !important;
    background: rgba(253, 253, 253, 0) !important; 
    opacity: 1 !important;
    border: 1px solid #f7f7f7 !important;
}

.swiper-pagination-bullet:last-child {
    margin-right: 0px !important;
}

.swiper-pagination-bullet-active {
    border: 0px solid transparent !important;
    position: relative;
    bottom: 1px;
    background: rgb(255, 255, 255) !important; 
}

html:root {
    --swiper-theme-color: #ffffff;
}

.swiper-slide {
    background: #8b7575;
}


.swiper-slide:first-child {
    background: #282828;
}

.swiper-words {
    width: 426px;
    margin-left: 68px;
    margin-top: 57px;
}

.swiper-img {
    position: absolute;
    bottom: 44px;
    left: 564px;
}

.swiper-portfolio {
    font-size: 16px;
    font-weight: 300;
    color: #777777;
    margin-left: -1px;
}

.swiper-title {
    font-size: 40px;
    font-weight: 400;
    color: #f3f1f1;
    line-height: 1.05;
    margin-top: 67px;
}

.swiper-subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #f3f1f1;
    margin-bottom: 71px;
    margin-top: 13px;
}

.swiper-words a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 20px;
    background: #faad3d;
    border-radius: 17.5px;
}

.main-sale {
    width: 19.13%;
    border: 2px solid #faad3d;
    border-radius: 2px;
    background: #ffffff;
}

.sale-words {
    margin-left: 2px;
}

.words-first {
    margin-top: 11px;
    color: #191919;
    font-size: 18px;
    font-weight: 300;
}

.words-second {
    color: #191919;
    font-size: 40px;   
    font-weight: 400;
}

.words-last {
    margin-top: 14px;
    color: #faad3d;
    font-size: 18px;   
    font-weight: 300;
}

.sale-content {
    margin-left: 26px;
    margin-top: 217px;
}

.partners {
    margin-top: 20px;
}

.partners .container {
    background: #ffffff;
}

.partners .container ul {
    display: flex;
    padding: 15px 0;
}

.partners .container ul li {
    width: 16.6%;
    line-height: 70px;
    text-align: center;
    border-right: 1px solid #eeeded;
    border-left: 1px solid #eeeded;
}

.partners .container ul li:first-child {
    border-left: 0px;
}

.partners .container ul li:last-child {
    border-right: 0px;
}

.partners .container ul li:last-child a{
    color: #282828;
    font-size: 18px;
    font-weight: 400;
}

.partners .container ul img {
    vertical-align: middle;
}

/* services */

.services {
    margin-top: 20px;
}

.services .container {
    display: flex;
}

.services-special {
    width: 69.09%;
    background: #ffffff;
}

.services-products {
    display: flex;
}

.services-products a {
    padding: 53px 0 38px 0;
    width: 33.1%;
    text-align: center;
}

.services-products a:nth-child(2) {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.services-title-wrap {
    border-bottom: 1px solid #e8e8e8;
}

.services-title {
    padding: 18px 0 17px 26px;
}

.services-title a {
    color: #191919;
    font-size: 24px;
    font-weight: 300;
}

.services-products p {
    color: #282828;
    font-weight: 300;
}

.services-products-price {
    font-weight: 600 !important;
}

.services-flag {
    margin-top: 17px;
    margin-bottom: 8px;
}

.services-corp {
    margin-top: 9px;
}

.services-slider {
    width: 29.57%;
    height: 432px;
    margin-left: 21px;
}

.services-slider .swiper-slide {
    height: 432px;
}

.services-slider .swiper-pagination {
    margin-top: -40px;
}

.services-slider .swiper-slide {
    background: none;
}

.services-slider .swiper-slide img {
    position: absolute;
    z-index: -1;
}

.services-slider .swiper-subtitle {
    font-size: 16px;
    margin-top: -3px;
    margin-bottom: 0;
}

.services-slider .swiper-words {
    position: relative;
    right: 16px;
    top: 138px;
}

.services-slider .swiper-words a {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    font-weight: 300;
    font-size: 16px;
    top: 19px;
}

/* news */

/* .news div {
    border: 1px solid red;
} */

.news {
    margin-top: 166px;
}

.news .container {
    max-width: 1413px;
}

.news-title p {
    color: #191919;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 43px;
}

.news-main {
    width: 34.64%;
}

.news-metainfo {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
}

.news-subimage2 {
    margin-left: 10px;
}

.main-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.main-text {
    position: relative;
    top: 19px;
    font-size: 16px;
    font-weight: 300;
}

.news-city {
    font-size: 16px;
    font-weight: 300;
    color: #34a853;
}

.news-data {
    font-size: 16px;
    font-weight: 300;
    color: #777777;
}

.news-main-text a {
    margin-top: 68px;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #282828;
    border: 2px solid #282828;
    padding: 6px 37px;
    border-radius: 17.5px;
}

.news-main-text a:hover {
    color: #faad3d;
}

.news-content {
    display: flex;
}

.news-list {
    margin-left: 105px;    
    width: 88.51%;
}

.news-list-item {
    display: flex;
}

.news-list-item .news-main-text {
    position: relative;
    margin-left: 20px;
    top: 3px;
}

.news-list-item .news-main-text:last-child {
    top: 2px;
}

.news-list-item .news-main-text:first-child {
    top: -2px;
}

.news-list-item .news-metainfo {
    margin-top: -3px;
}

.news-list-item:nth-child(2) .news-main-text{
    margin-top: 3px;
}

.news-list-item:nth-child(2) {
    margin: 44px 0 42px 0;
}

/* recomend */

.recomend {
    margin-top: 147px;
}

.recomend .container {
    max-width: 1413px;
}

.recomend-cards {
    margin-top: 64px;
}

.recomend-title {
    margin: 0 auto;
    text-align: center;
    width: 46.47%;
}

.recomend-title-main {
    font-size: 40px;
    color: #282828;
}

.recomend-title-sub {
    margin-top: 10px;
    font-size: 16px;
    color: #777777;
    font-weight: 300;
}

.cards-firstline {
    display: flex;
}

.cards-firstline a:first-child {
    display: flex;
    width: 55.57%;
    margin: 0 10px 10px 0;
}

.cards-firstline-big {
    display: flex;
    width: 100%;
    background: #282828;
}

.cards-brand {
    font-size: 20px;
    color: #191919;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.cards-type {
    font-size: 30px;
    color: #191919;
    margin-bottom: 19px;
}

.cards-description {
    font-size: 16px;
    color: #777777;
    font-weight: 300;
}

.cards-firstline-big .cards-words {
    width: 37.91%;
    margin: 171px 0 0 71px;
}

.cards-firstline-big .cards-brand {
    color: #ffffff;
}

.cards-firstline-big .cards-type {
    color: #ffffff;
}

.cards-firstline-big img {
   padding-top: 51px;
}

.cards-firstline a:nth-child(2) {
    width: 20.65%;
}

.cards-firstline-small {
    background: #ffffff;
    width: 100%;
    padding-bottom: 33px;
}

.cards-firstline-small img {
    display: block;
    margin-left: 88px;
    padding-top: 49px;
}

.cards-firstline-small .cards-words {
    width: 77.85%;
    text-align: center;
    margin-top: 24px; 
    margin-left: 38px;
}

.cards-firstline-small .cards-type {
    position: relative;
    top: -4px;
}

.cards-firstline-small .cards-description {
    position: relative;
    top: -6px;
}

.cards-firstline a:last-child {
    width: 20.65%;
    margin-left: 10px;
}

.cards-firstline a:last-child img {
    padding-top: 33px;
}

.cards-secondline {
    display: flex;
}

.cards-secondline-long {
    width: 41.98%;
    background: #ffffff;
    margin-right: 10px;
}

.cards-secondline-long .cards-words {
    width: 46.91%;
    text-align: center;
    margin-left: 156px;
    margin-bottom: 42px;
}

.cards-secondline-long img {
    margin-left: 92px;
}

.cards-secondline-long-wrap {
    position: relative;
    top: 6px;
    padding-top: 59px;
}

.cards-secondline-shorts {
    width: 55.57%;
}

.cards-secondline-short1 {
    background: #282828;
}

.cards-secondline-short1 .cards-brand {
    color: #ffffff;
}

.cards-secondline-short1 .cards-type {
    color: #ffffff;
}

.cards-secondline-short1 {
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
}

.cards-secondline-short1 img {
    position: relative;
    left: -196px;
    top: 7px;
    padding-bottom: 6px;
}

.cards-secondline-short1 .cards-words {
    position: relative;
    left: -139px;
    top: 117px;
}

.cards-secondline-short1 .cards-type {
    width: 30%;
}

.cards-secondline-short2 {
    position: relative;
    display: flex;
    overflow: hidden;
    background: #ffffff;
    height: 316px;
}

.cards-secondline-short2 img {
    position: relative;
    left: 96px;
    object-fit: cover;
    object-position: 0px 8px;
}

.cards-secondline-short2 .cards-words {
    margin-top: 92px;
    margin-left: 63px;
}

/* offers section */

.offers {
    margin-top: 220px;
}

.offers .container {
    max-width: 1413px;
    display: flex;
}

.offers-left {
    width: 59.7%;
}

.offers-title {
    font-size: 40px;
    color: #191919;
    width: 95%;
    margin-bottom: 14px;
}

.offers-text {
    font-size: 18px;
    color: #191919;
    font-weight: 300;
}

.offers-subtitle {
    font-size: 40px;
    color: #191919;
    font-weight: 300;
    margin-top: 26px;
    margin-bottom: 17px;
}

.offers-btn {
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    line-height: 47px;
    color: #ffffff;
    font-weight: 300;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #282828;
    margin-top: 41px;
}

.offers-btn:hover {
    background: #4d4c4c;
    transition: background .2s linear;
}

.offers-right {
    margin-top: 60px;
    margin-left: 243px;
}

.offers-right img {
    margin-bottom: 31px;
}

.offers-right-text {
    margin-left: 2px;
}

.offers-right .offers-title {
    margin-bottom: 0; 
    line-height: 27px;  
}

.undertitle {
    font-size: 16px;
    color: #777777;
    font-weight: 300;
    margin-bottom: 31px;
}

.info-title {
    font-size: 24px;
    color: #1d1d1d;
}

.underinfotitle {
    font-size: 18px;
    color: #777777;
    font-weight: 300;
    margin-bottom: 21px;
}

.offers-right .offers-text {
    color: #1d1d1d;
}

/* ourclients */

.ourclients .container {
    max-width: 1413px;
}

.ourclients-title {
    font-size: 40px;
    color: #191919;
    text-align: center;
}

.ourclients-line {
    margin-top: 56px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.ourclients-client {
    width: 14.26%;
    text-align: center;
}

.ourclients-client img {
    webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.ourclients-client img:hover {
    webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: .2s;
}

.ourclients-client p {
    font-size: 14px;
    margin-top: 7px;
    color: #373737;
    text-align: center;
    font-weight: 300;
}

.ourclients-client:nth-child(2) p {
    margin-top: 10px;
}

.ourclients-client:nth-child(3) p {
    margin-top: 10px;
}

.ourclients-client:nth-child(4) p {
    margin-top: 13px;
}

.ourclients-client:nth-child(5) p {
    margin-top: 11px;
}

.ourclients-client:nth-child(6) p {
    margin-top: 8px;
}

.ourclients-line2 {
    display: flex;
    justify-content: space-between;
}

.ourclients-line2 p {
    font-size: 16px;
}

.ourclients-line2 .ourclients-client:first-child img {
    margin-top: 42px;
}

.ourclients-line2 .ourclients-client:nth-child(2) p {
    margin-top: 6px;
}

.ourclients-line2 .ourclients-client:nth-child(2) img {
    margin-top: 18px;
}

.ourclients-line2 .ourclients-client:nth-child(4) img {
    margin-top: 25px;
}

.ourclients-line2 .ourclients-client:nth-child(4) p {
    margin-top: 25px;
}

.ourclients-line2 .ourclients-client:nth-child(5) img {
    margin-top: 45px;
}

.ourclients-line2 .ourclients-client:nth-child(5) p {
    margin-top: 23px;
}

.ourclients-line2 .ourclients-client:nth-child(6) p {
    margin-top: 6px;
    font-size: 14px;
}

.ourclients-line2 .ourclients-client:nth-child(6) img {
    margin-top: 16px;
}

.ourclients-line2 .ourclients-client:nth-child(6) {
    width: 14.5%;
}

.ourclients-line3 {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.ourclients-line3 a:first-child img {
    margin-top: 27px;
}

.ourclients-line3 a:nth-child(4) img {
    margin-top: 2px;
}

.ourclients-line3 a:nth-child(5) img {
    margin-top: 23px;
}

.ourclients-line3 a:nth-child(6) img {
    margin-top: 3px;
}

/* contacts */

.contacts {
    background: #282828;
}

.contacts .container {
    display: flex;
    justify-content: space-between;
    max-width: 1413px;
    padding-top: 89px;
    margin-top: 187px;
    padding-bottom: 78px;
}

.contacts-title {
    font-size: 24px;
    color: #777777;
    font-weight: 300;
    margin-bottom: 27px;
}

.contacts-list a, .contacts-info p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
}

.contacts-list li {
    margin-top: 4px;
}

.contacts-info .contacts-title {
    font-size: 24px;
    color: #777777;
    font-weight: 300;
    margin-bottom: 17px;
}

.contacts-info p:nth-child(5) {
    margin-top: 19px;
}

.contacts-info p:nth-child(7) {
    margin-top: 20px;
}

.contacts-info p:nth-child(9) {
    margin-top: 19px;
}

/* footer */

footer {
    background: #1f1f1f;
}

footer .container {
    display: flex;
    justify-content: space-between;
    max-width: 1413px;
    padding-top: 44px;
    padding-bottom: 40px;
}

.companylogo {
    display: flex;
}

.companylogo img {
    position: relative;
    bottom: 2px;
}

.companylogo-text {
    margin-left: 17px;
}

.companylogo-text p:first-child {
    font-size: 24px;
    color: #ffffff;
    line-height: 26px;
}

.companylogo-text p:last-child {
    font-size: 16px;
    color: #777777;
    font-weight: 300;
    line-height: 12px;
}

.createdby p {
    position: relative;
    top: -7px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
}



.mobile-nav {
    display: none;
}

