@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro LightSemiExt.eot');
	src: local('☺'), url('../fonts/MyriadPro LightSemiExt.woff') format('woff'), url('../fonts/MyriadPro LightSemiExt.ttf') format('truetype'), url('fonts/MyriadPro LightSemiExt.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro Semibold.eot');
	src: local('☺'), url('../fonts/MyriadPro Semibold.woff') format('woff'), url('../fonts/MyriadPro Semibold.ttf') format('truetype'), url('fonts/MyriadPro Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}



/*---------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'MyriadPro', sans-serif;
}

body {
    background: #f3f1f1;
}

input::-ms-clear {
    display: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/*-----------------------------*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

a, span {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.header-wrap {
    background: #34a853;
    /* padding: 0.625rem 0; */
}

.header-wrap-second {
    background: #e7e6e6;
    position: relative;
}

.container {
    max-width: 96.5625rem;
    margin: 0 auto;
}

.menu {
    position: relative;
}

.menu-list {
    display: flex;
}

.menu ul:first-child{
    width: 25.35%;
    padding-right: 1.8%;
}

.menu ul:nth-child(2) {
    width: 39.4%;
    /* padding: 0rem 2.2%; */
    /* border-right: 0.0625rem solid #67be7e;
    border-left: 0.0625rem solid #67be7e; */
}

.menu ul:nth-child(2):before, .menu ul:nth-child(2):after {
    content: '';
    margin-top: 0.625rem;
    width: 0.0625rem;
    height: 1.75rem;
    background: #67be7e;
}

.menu ul:last-child{
    width: 35.29%;
    padding-left: 1.8%;
    /* line-height: 3rem; */
}

.menu ul:last-child li div{
    display: flex;
}

.menu ul:last-child li .img1 img{
    height: 0.9375rem;
    width: 1.25rem;
    margin-right: 0.40625rem;
    margin-top: 0.9375rem;
}

.menu ul:last-child li .img2 img{
    position: relative;
    height: 1.25rem;
    top: -0.1875rem;
    margin-right: 0.1875rem;
    margin-top: 0.9375rem;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    /* padding-top: 0.25rem;
    padding-bottom: 0.25rem; */
    line-height: 3rem;
    /* padding-top: 0.0625rem; */
}

.menu ul li a{
    position: relative;
    top: 0.125rem;
    color: #ffffff;
    font-size: 1rem;
}

.menu__words li {
    margin-right: 0rem;
    transition: background 200ms;
}

.e-mail-out {
    background: #5db975;
}

#e-mail {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.e-mail-copy {
    position: absolute !important;
    display: none;
    font-weight: 400;
    top: 3.125rem !important;
    margin-right: 0.875rem;
    background: #191919;
    z-index: 20;
    border-radius: 1.40625rem;
    padding: 1rem 2.3125rem;
    line-height: 1rem;
    right: 22.5625rem;
}

#phone-btn-popup {
    padding-left: 1.0625rem;
    padding-right: 1.1875rem;
}

.words-tel-popup {
    display: none;
    position: absolute;
    right: 0;
    background: #ffffff;
    z-index: 20;
}

.words-tel-popup .popup-left-number {
    color: #34a853;
    font-size: 1.5rem;
    line-height: 1.5625rem;
    position: relative;
    top: 0.25rem;
}

.popup-closebtn {
    height: 1.6875rem;
}

.popup-closebtn div:after {
    cursor: pointer;
    content: '';
    margin-top: 1rem;
    margin-right: 0.5625rem;
    width: 1.6875rem;
    height: 1.6875rem;
    display: block;
    float: right;
    position: relative;
    background: url('../img/Х.png') 0.1875rem 0.0625rem no-repeat;
    clear: both;
}

.popup-wrap {
    padding: 0rem 0 3.4375rem 3.1875rem;
}

.popup-blocks-wrap {
    padding-top: 0.8125rem;
    padding-right: 3.8125rem;
    clear: right;
    display: flex;
}

.popup-subtext {
    color: #777777;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5625rem;
    margin-bottom: 0.6875rem;
}

.popup-left ul {
    padding: 0 !important;
    display: inline;
}

.popup-left ul p {
    color: #000000;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
}

.popup-left ul li {
    cursor: pointer;
    user-select: none;
    color: #000000;
    font-size: 1.125rem;
    font-weight: 300;
    height: 2.5rem;
    text-decoration-color: #b8b8b800;
    transition: all .2s linear;
}

.popup-left ul li:hover {
    text-decoration: underline;
    text-decoration-color: #b8b8b8;
}

.popup-left ul li:before {
    content: '';
    margin-right: 0.4375rem;
    position: relative;
    top: 0.625rem;
    width: 1.6875rem;
    height: 1.6875rem;
    display: block;
    float: left;
    position: relative;
    background: url('../img/phoneconnect.png') 0.1875rem 0.0625rem no-repeat;
}

.popup-left ul li:nth-child(3):before {
    background: url('../img/вайбер.png') 0 0.0625rem no-repeat;
}

.popup-left ul li:nth-child(4):before {
    background: url('../img/телеграм.png') 0 0.0625rem no-repeat;
    top: 0.5625rem;
}

.popup-left ul li:nth-child(5):before {
    background: url('../img/вотсап.png') 0 0.0625rem no-repeat;
    top: 0.5rem;
}

.popup-rigth {
    min-width: 16.25rem;
}

.popup-left {
    min-width: 16.9375rem;
    margin-right: 7.0625rem;
}

.popup-rigth-title {
    color: #000000;
    font-size: 1.5rem;
    position: relative;
    top: -0.4375rem;
}

.popup-rigth .popup-subtext {
    position: relative;
    top: -1.375rem;
}

.popup-rigth form p {
    position: relative;
    color: #000000;
    font-size: 1rem;
    font-weight: 300;
    line-height: 0.6875rem;
}

.popup-name-p {
    top: -0.6875rem;
}

.popup-telephone-p {
    margin-top: 0.125rem;
    top: -0.625rem;
}

.popup-rigth form input {
    font-size: 1.125rem;
    margin-bottom: 0.125rem;
    border: none;
    border-bottom: 0.0625rem solid #c4c4c4;
    outline:none;
    transition: border .2s linear;
    position: relative;
    top: -1rem;
    width: 100%;
}

/* .popup-rigth form input:first-child {
    top: -0.625rem;
} */

.popup-rigth form input:focus {
    border-bottom: 0.0625rem solid #ea9b28;
}

.popup-rigth form button {
    position: relative;
    top: -0.375rem;
    display: block;
    background: #faad3d;
    border: none;
    border-radius: 1.40625rem;
    height: 2.8125rem;
    width: 8.3125rem;
    color: #ffffff;
    font-size: 1.125rem;
    outline: none;
    transition: background .2s linear;
}

.popup-rigth form button:hover {
    background: #db9937;
}

.header-search {
    display: flex;
    justify-content: space-between;
}

.header-search-form {
    position: relative;
    display: flex;
    width: 55.3125rem;
    height: 2.1875rem;
    left: 2.875rem;
    top: 0.875rem;
}

.header-search-logo {
    display: inline-block;
}

.header-search-logo div {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 0.75rem 0;
}

.header-search-logo span {
    color: #1d1d1d;
    font-size: 2.0625rem;
    line-height: 0.9;
}

.header-search-logo img {
    margin-right: 0.4375rem;
}

.header-search-catigories {
    display: inline-block;
    border-right: 0.0625rem solid #e7e6e6;
    background: #f1f1f1;
    border-radius: 0.3125rem 0 0 0.3125rem;
}

.header-search-catigories-list {
    display: none;
    position: absolute;
    left: 0.0625rem;
    top: 2.25rem;
    background: #f1f1f1;
    border: 0.0625rem solid #e7e6e6;
    padding: 0 2.1875rem 1.875rem 0.875rem;
}

/* .header-search-catigories-list.out {
    display: block;
    position: absolute;
    left: 0.0625rem;
    top: 2.25rem;
    background: #f1f1f1;
    border: 0.0625rem solid #e7e6e6;
    padding: 0 2.1875rem 1.875rem 0.875rem;
} */

.header-search-catigories-list p {
    font-weight: 300;
    font-size: 1rem;
    color: #777777;
    margin-top: 0.875rem;
    margin-bottom: 1.8125rem;
}

.header-search-catigories-list li a {
    font-weight: 300;
    font-size: 1rem;
    color: #373737;
}

.header-search-catigories-list li {
    margin-bottom: 0.25rem;
}

.header-search-catigories-list li a:hover{
    color: #34a853;
}

.header-search-select {
    display: flex;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 0.375rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

.header-search-select span {
    color: #777777;
    font-size: 1rem;
    line-height: 0.9;
    margin-right: 0.125rem;
    font-weight: 400;
    white-space: nowrap;
}

.header-search-select img {
    padding-top: 0.25rem;
    padding-left: 0.3125rem;
    height: 0.375rem;
    width: 0.75rem;
    user-select: none;
}

.header-search-input {
    width: 100%;
}

.header-search-input input {
    outline: none;
    height: 100%;
    border: none;
    width: 100%;
    padding-left: 0.625rem;
    color: #777777;
    font-size: 1.125rem;
    line-height: 0.8;
    color: #000000;
}

.header-search-btn {
    margin-left: 0.625rem;
    background: #faad3d;
    border-radius: 0 0.3125rem 0.3125rem 0;
}

.header-search-btn img {
    display: block;
    margin: 0 0.875rem;
    margin-top: 0.4375rem;
    margin-bottom: 0.3125rem;
}

.header-search-resultPopup {
    display: none;
    top: 2.25rem;
    right: 3.0625rem;
    position: absolute;
    background: #ffffff;
    border: 0.0625rem solid #e7e6e6;
    padding: 0.625rem 1.75rem 0.75rem 1.75rem;
    width: 44.5rem;
}

.header-search-resultPopup li {
    cursor: pointer;
    border-bottom: 0.0625rem solid #d4cdcd;
    padding-bottom: 0.625rem;
    padding-top: 0.8125rem;
    width: 100%;
}

.header-search-resultPopup li:hover {
    background: #e6e4e491;
    transition: background .1s linear;
}

.header-search-resultPopup li:last-child {
    border: none;
}

.result-title {
    font-size: 1rem;
    font-weight: 300;
    color: #000000;
    line-height: 0.6875rem;
    margin-bottom: 0.1875rem;
}

.result-subtitle {
    font-size: 0.875rem;
    font-weight: 300;
    color: #777777;
}

.portal {
    display: flex;
    height: 2.1875rem;
    position: relative;
    top: 0.8125rem;
    left: 3.125rem;
}

.portal p {
    padding-top: 0.25rem;
    display: flex;
    font-size: 0.875rem;
    font-weight: 300;
    color: #777777;
    margin-left: 0.375rem;
    width: 6rem;
    line-height: 1.2;
}

.header-search-store {
    display: flex;
    width: 11%;
    position: relative;
    left: 2.5rem;
    padding: 0 1.0625rem;
}

.header-search-store:hover {
    background: #faad3d;
}

.header-search-store:hover .store-sum, .header-search-store:hover .store-num,
.header-search-store:hover .store-count {
    color: #fff;
}

.header-search-store .store-right {
    width: 100.4%;
    padding-top: 0.625rem;
    padding-left: 0.75rem;
    position: relative;
    top: 0.3125rem;
    left: -0.1875rem;
}

.header-search-store .store-left img {
    position: relative;
    bottom: 0.1875rem;
}

.header-search-store .store-left {
    position: relative;
    text-align: center;
    top:0.3125rem;
}

.header-search-store .store-left span {
    position: relative;
    font-size: 0.875rem;
    font-weight: 400;
    color: #ea8b00;
    left: 0.125rem;
    top: 0.25rem;
}

.header-search-store .store-sum{
    font-size: 0.875rem;
    font-weight: 300;
    color: #777777;
}

.header-search-store .store-num{
    width: 6.25rem;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

.header-search-eq .container{
    display: flex;
    justify-content: space-between;
}

.header-search-eq .container p {
    font-size: 1rem;
    font-weight: 400;
    color: #373737;
}

.header-search-eq .container img {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.375rem;
}

.header-search-eq {
    position: relative;
    padding-top: 0.5625rem;
    padding-bottom: 0.5625rem;
    background: #ffffff;
    box-shadow: 0.4375rem 0.4375rem 1.125rem rgba(33, 37, 41, 0.12);
    z-index: -1;
    transition: all .3s ease;
    top: 0rem;
}

.header-search-eq.out {
    transform: translateY(-100%);
}

.equipment-long-wrap {
    display: flex;
    position: absolute;
    z-index: -2;
    top:-1;
}

.equipment-long-menu {
    position: relative;
    display: none;
    background: #fff;
    padding-top: 1.8125rem;
    padding-bottom: 6.5rem;
    border-right: 0.0625rem solid #e9e7e7;
}

.equipment-long-menu li {
    cursor: pointer;
    padding-left: 5.625rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: #333333;
    border-bottom: 0.0625rem solid #e9e7e7;
    padding-top: 0.5625rem;
    padding-bottom: 0.5rem;
}

.equipment-long-menu li:last-child {
    border: none;
}

.equipment-long-menu li:hover {
    color: #faad3d;
    transition: color 100ms;
}

.equipment-long-menu li:after {
    content: '>';
    color: #cecece;
    display: inline-block;
    float: right;
    padding-left: 3.75rem;
    padding-right: 1.0625rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.equipment-long-menu li:hover:after {
    color: #abd89c;
}

.equipment-long-menu-second {
    background: #f3f1f1;
    border-right: 0.0625rem solid #e9e7e7;
}

.equipment-long-menu-second ul:first-child li {
    font-size: 1.125rem;
    font-weight: 300;
    color: #191919;
}

.equipment-long-menu-second ul:last-child {
    margin-left: 1.75rem;
    margin-top: 2.0625rem;
}

.equipment-long-menu-second ul:last-child p {
    margin-left: 0.0625rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: #777777;
}

.equipment-long-menu-second ul:last-child li {
    font-size: 1.125rem;
    font-weight: 300;
    color: #333333;
    margin-top: 0.5rem;
}

.equipment-long-menu-second ul:last-child li:before {
    content: '';
    margin-right: 0.375rem;
    width: 1.375rem;
    height: 1.375rem;
    display: block;
    float: left;
    position: relative;
    background: url('../img/Spain.png') 0 0.0625rem no-repeat;
}

.equipment-long-menu-second ul:last-child li:nth-child(3):before {
    background: url('../img/Switzerland.png') 0 0.0625rem no-repeat;
}

.equipment-long-menu-second ul:last-child li:nth-child(4):before {
    background: url('../img/Germany.png') 0 0.0625rem no-repeat;
}

.equipment-long-menu-second ul:last-child li:nth-child(5):before {
    background: url('../img/Turkey.png') 0 0.0625rem no-repeat;
}

.equipment-long-menu-second ul:first-child {
    border-bottom: 0.0625rem solid #e9e7e7;
    padding-left: 1.8125rem;
    margin-top: 2.375rem;
    padding-bottom: 2.125rem;
    padding-right: 3.875rem;
}

.equipment-long-menu-second ul:first-child li {
    margin-top: 0.5rem;
}


.equipment-long-menu-second ul li:hover {
    cursor: pointer;
    color: #faad3d;
    transition: color .2s linear;
 }

.equipment-long-menu-third {
    background: #f3f1f1;
}

.equipment-long-menu-third ul {
    margin-left: 1.6875rem;
    padding-right: 7.3125rem;
}

.equipment-long-menu-third p {
    margin-top: 2.375rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: #777777;
    margin-bottom: 0.0625rem;
    margin-left: 1.6875rem;
}

.equipment-long-menu-third li {
    font-size: 1.5rem;
    font-weight: 300;
    color: #333333;
    margin-top: 0.125rem;
}

.equipment-long-menu-third li:hover {
    cursor: pointer;
    color: #faad3d;
    transition: color .2s linear;
}

.equipment-long-menu-last {
    background: #faad3d;
    text-align: center;
    padding: 0 4.0625rem;
}

.equipment-long-menu-last p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 1.375rem;
}

.equipment-long-menu-last a {
    font-size: 1.125rem;
    font-weight: 400;
    color: #ffffff;
    background: #191919;
    padding: 0.5625rem 1.6875rem 0.4375rem 1.5625rem;
    border-radius: 0.3125rem;
}

.equipment-long-menu-last img {
    margin-top: 2.125rem;
    margin-bottom: 1.375rem;
}

.equipment-other-wrap {
    display: flex;
    height: 100%;
}

.equipment-short-menu {
    position: relative;
    display: none;
    background: #fff;
    padding-top: 1.8125rem;
    padding-bottom: 1.5rem;
    border-right: 0.0625rem solid #e9e7e7;
}

.equipment-short-menu li {
    cursor: pointer;
    padding-left: 5.625rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: #333333;
    border-bottom: 0.0625rem solid #e9e7e7;
    padding-top: 0.5625rem;
    padding-bottom: 0.5rem;
}

.equipment-short-menu li:last-child {
    border-bottom: none;
}

.equipment-short-menu li:after {
    content: '>';
    color: #cecece;
    display: inline-block;
    float: right;
    padding-left: 5.375rem;
    padding-right: 1.0625rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.equipment-short-menu li:hover {
    color: #faad3d;
    transition: color 100ms;
}

.equipment-short-menu li:hover:after {
    color: #abd89c;
}

.equipment-short-menu-second {
    background: #f3f1f1;
}

.equipment-short-menu-second ul {
    border-bottom: 0.0625rem solid #e9e7e7;
    padding-left: 1.875rem;
    padding-right: 11.4375rem;
}

.equipment-long-wrap ul li {
    cursor: pointer;
    user-select: none;
}

.equipment-short-menu-second ul li:hover{
    color: #faad3d;
    transition: color 100ms;
}

.equipment-short-menu-second ul:last-child {
    border: none;
}

.equipment-short-menu-second ul p {
    font-size: 1.125rem;
    font-weight: 300;
    color: #777777;
}

.equipment-short-menu-second .equipment-short-type {
    margin-top: 2.375rem;
    padding-bottom: 0.625rem;
}

.equipment-short-menu-second .equipment-short-brand {
    margin-top: 1.1875rem;
    padding-bottom: 0.9375rem;
}

.equipment-short-menu-second .equipment-short-countries {
    margin-top: 1.1875rem;
}

.equipment-short-countries p {
    margin-bottom: 0.5rem;
}

.equipment-short-countries li {
    margin-bottom: 0.5rem;
}

.equipment-short-menu-second .equipment-short-type li {
    font-size: 1.125rem;
    font-weight: 300;
    color: #191919;
    margin-bottom: 0.5rem;
}

.equipment-short-menu-second .equipment-short-brand li {
    font-size: 1.5rem;
    font-weight: 300;
    color: #333333;
    margin-bottom: 0.125rem;
}

.equipment-short-brand p {
    margin-bottom: 0.1875rem;
}

.equipment-short-menu-second .equipment-short-countries li {
    font-size: 1.125rem;
    font-weight: 300;
    color: #333333;
}

.equipment-short-menu-second ul:last-child li:before {
    content: '';
    margin-right: 0.375rem;
    width: 1.375rem;
    height: 1.375rem;
    display: block;
    float: left;
    position: relative;
    background: url('../img/Spain.png') no-repeat;
}

.equipment-short-menu-second ul:last-child li:nth-child(3):before {
    background: url('../img/Switzerland.png') no-repeat;
}

.equipment-short-menu-second ul:last-child li:nth-child(4):before {
    background: url('../img/Germany.png') no-repeat;
}

.equipment-short-menu-second ul:last-child li:nth-child(5):before {
    background: url('../img/Turkey.png') no-repeat;
}

.equipment-short-menu-last {
    background: #34a853;
    text-align: center;
    padding: 0 4.1875rem;
}

.equipment-short-menu-last p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 1.375rem;
}

.equipment-short-menu-last a {
    font-size: 1.125rem;
    font-weight: 400;
    color: #ffffff;
    background: #faad3d;
    padding: 0.5625rem 1.6875rem 0.4375rem 1.5625rem;
    border-radius: 0.3125rem;
}

.equipment-short-menu-last img {
    margin-top: 3.5rem;
    margin-bottom: 2.125rem;
}

.hidemenu {
    display: none;
}

.hidemenu_second {
    display: none;
}

.shadowBackground {
    display: none;
	content: '';
	background: rgba(0, 0, 0, 0.507);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    z-index: -3;
    /* transition: 3s; */
}

/* main section */

.main {
    margin-top: 1.3125rem;
}

.main-target {
    width: 19.63%;
    background: #ffffff;
}

.main-target p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #faad3d;
    padding: 1.875rem 0 0.5625rem 1.625rem;
}

.main-target a {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    color: #333333;
    width: 100%;

    line-height: auto;
}

.main-target li {
    padding: 0.8125rem 0 0.75rem 1.6875rem;
    border-bottom: 0.0625rem solid #ededed;
}

.main-target li a:hover {
    color: #faad3d;
    transition: color .2s linear;
}

.main-target li a:after {
    content: '>';
    color: #cecece;
    display: inline-block;
    float: right;
    padding-right: 1.3125rem;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.main-target li:last-child {
    border-bottom: 0rem;
    padding-bottom: 1.0625rem;
}

.main .container {
    display: flex;
    justify-content: space-between;
}

.main-swiper {
    width: 58.4%;
    z-index: 0;
}

.swiper-container {
    margin: 0 0;
    height: 29.75rem;
  }

.swiper-slide {
    font-size: 1.125rem;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

  }

.pagination-arrow {
    display: none;
}
  
.swiper-pagination {
    position: relative !important;
    bottom: 2.9375rem !important;
}

.swiper-pagination-bullet {
    margin: 0 0.6875rem 0 0 !important;
    background: rgba(253, 253, 253, 0) !important;
    opacity: 1 !important;
    border: 0.0625rem solid #f7f7f7 !important;
}

.swiper-pagination-bullet:last-child {
    margin-right: 0rem !important;
}

.swiper-pagination-bullet-active {
    border: 0rem solid transparent !important;
    position: relative;
    bottom: 0.0625rem;
    background: rgb(255, 255, 255) !important;
}

html:root {
    --swiper-theme-color: #ffffff;
}

.swiper-slide {
    background: #8b7575;
}


.swiper-slide:first-child {
    background: #282828;
}

.swiper-words {
    width: 26.625rem;
    margin-left: 4.25rem;
    margin-top: 3.5625rem;
}

.swiper-img {
    position: absolute;
    bottom: 2.75rem;
    left: 35.25rem;
}

.swiper-portfolio {
    font-size: 1rem;
    font-weight: 300;
    color: #777777;
    margin-left: -0.0625rem;
}

.swiper-title {
    font-size: 2.5rem;
    font-weight: 400;
    color: #f3f1f1;
    line-height: 1.05;
    margin-top: 4.1875rem;
}

.swiper-subtitle {
    font-size: 1.125rem;
    font-weight: 300;
    color: #f3f1f1;
    margin-bottom: 4.4375rem;
    margin-top: 0.8125rem;
}

.swiper-words a {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 0.5rem 1.25rem;
    background: #faad3d;
    border-radius: 1.09375rem;
}

.main-sale {
    width: 19.13%;
    border: 0.125rem solid #faad3d;
    border-radius: 0.125rem;
    background: #ffffff;
}

.sale-words {
    margin-left: 0.125rem;
}

.words-first {
    margin-top: 0.6875rem;
    color: #191919;
    font-size: 1.125rem;
    font-weight: 300;
}

.words-second {
    color: #191919;
    font-size: 2.5rem;
    font-weight: 400;
}

.words-last {
    margin-top: 0.875rem;
    color: #faad3d;
    font-size: 1.125rem;
    font-weight: 300;
}

.sale-content {
    margin-left: 1.625rem;
    margin-top: 13.5625rem;
}

.partners {
    margin-top: 1.25rem;
}

.partners .container {
    background: #ffffff;
}

.partners .container ul {
    display: flex;
    padding: 0.9375rem 0;
}

.partners .container ul li {
    width: 16.6%;
    line-height: 4.375rem;
    text-align: center;
    border-right: 0.0625rem solid #eeeded;
    border-left: 0.0625rem solid #eeeded;
}

.partners .container ul li:first-child {
    border-left: 0rem;
}

.partners .container ul li:last-child {
    border-right: 0rem;
}

.partners .container ul li:last-child a{
    color: #282828;
    font-size: 1.125rem;
    font-weight: 400;
}

.partners .container ul img {
    vertical-align: middle;
}

/* services */

.services {
    margin-top: 1.25rem;
}

.services .container {
    display: flex;
}

.services-special {
    width: 69.09%;
    background: #ffffff;
}

.services-products {
    display: flex;
}

.services-products a {
    padding: 3.3125rem 0 2.375rem 0;
    width: 33.1%;
    text-align: center;
}

.services-products a:nth-child(2) {
    border-left: 0.0625rem solid #e8e8e8;
    border-right: 0.0625rem solid #e8e8e8;
}

.services-title-wrap {
    border-bottom: 0.0625rem solid #e8e8e8;
}

.services-title {
    padding: 1.125rem 0 1.0625rem 1.625rem;
}

.services-title a {
    color: #191919;
    font-size: 1.5rem;
    font-weight: 300;
}

.services-products p {
    color: #282828;
    font-weight: 300;
}

.services-products-price {
    font-weight: 600 !important;
}

.services-flag {
    margin-top: 1.0625rem;
    margin-bottom: 0.5rem;
}

.services-corp {
    margin-top: 0.5625rem;
}

.services-slider {
    width: 29.57%;
    height: 27rem;
    margin-left: 1.3125rem;
}

.services-slider .swiper-slide {
    height: 27rem;
}

.services-slider .swiper-pagination {
    margin-top: -2.5rem;
}

.services-slider .swiper-slide {
    background: none;
}

.services-slider .swiper-slide img {
    position: absolute;
    z-index: -1;
    height: 27rem;
    width: 28.5625rem;
}

.services-slider .swiper-subtitle {
    font-size: 1rem;
    margin-top: -0.1875rem;
    margin-bottom: 0;
}

.services-slider .swiper-words {
    position: relative;
    right: 1rem;
    top: 8.625rem;
}

.services-slider .swiper-words a {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
    font-weight: 300;
    font-size: 1rem;
    top: 1.1875rem;
}

/* news */

/* .news div {
    border: 0.0625rem solid red;
} */

.news {
    margin-top: 10.375rem;
}

.news .container {
    max-width: 88.3125rem;
}

.news-title p {
    color: #191919;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 2.6875rem;
}

.news-main {
    width: 34.64%;
}

.news-metainfo {
    margin-top: 1.3125rem;
    display: flex;
    justify-content: space-between;
}

.news-subimage2 {
    margin-left: 0.625rem;
}

.main-title {
    margin-top: 0.625rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.main-text {
    position: relative;
    top: 1.1875rem;
    font-size: 1rem;
    font-weight: 300;
}

.news-city {
    font-size: 1rem;
    font-weight: 300;
    color: #34a853;
}

.news-data {
    font-size: 1rem;
    font-weight: 300;
    color: #777777;
}

.news-main-text a {
    margin-top: 4.25rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    color: #282828;
    border: 0.125rem solid #282828;
    padding: 0.375rem 2.3125rem;
    border-radius: 1.09375rem;
}

.news-main-text a:hover {
    color: #faad3d;
}

.news-content {
    display: flex;
}

.news-list {
    margin-left: 6.5625rem;
    width: 88.51%;
}

.news-list-item {
    display: flex;
}

.news-list-item .news-main-text {
    position: relative;
    margin-left: 1.25rem;
    top: 0.1875rem;
}

.news-list-item .news-main-text:last-child {
    top: 0.125rem;
}

.news-list-item .news-main-text:first-child {
    top: -0.125rem;
}

.news-list-item .news-metainfo {
    margin-top: -0.1875rem;
}

.news-list-item:nth-child(2) .news-main-text{
    margin-top: 0.1875rem;
}

.news-list-item:nth-child(2) {
    margin: 2.75rem 0 2.625rem 0;
}

/* recomend */

.recomend {
    margin-top: 9.1875rem;
}

.recomend .container {
    max-width: 88.3125rem;
}

.recomend-cards {
    margin-top: 4rem;
}

.recomend-title {
    margin: 0 auto;
    text-align: center;
    width: 46.47%;
}

.recomend-title-main {
    font-size: 2.5rem;
    color: #282828;
}

.recomend-title-sub {
    margin-top: 0.625rem;
    font-size: 1rem;
    color: #777777;
    font-weight: 300;
}

.cards-mobile-second-item {
    display: none;
}

.cards-computer-child {
    display: block;
}

.cards-firstline--second {
    display: none;
}

.cards-firstline {
    display: flex;
    margin-bottom: 0.625rem;
}

.cards-firstline a:first-child {
    display: flex;
    width: 55.57%;
    margin: 0 0.625rem 0 0;
}

.cards-firstline-big {
    display: flex;
    width: 100%;
    background: #282828;
}

.cards-brand {
    font-size: 1.25rem;
    color: #191919;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.1875rem;
}

.cards-type {
    font-size: 1.875rem;
    color: #191919;
    margin-bottom: 1.1875rem;
}

.cards-description {
    font-size: 1rem;
    color: #777777;
    font-weight: 300;
}

.cards-firstline-big .cards-words {
    width: 37.91%;
    margin: 10.6875rem 0 0 4.4375rem;
}

.cards-firstline-big .cards-brand {
    color: #ffffff;
}

.cards-firstline-big .cards-type {
    color: #ffffff;
}

.cards-firstline-big img {
   padding-top: 3.1875rem;
}

.cards-firstline a:nth-child(2) {
    width: 20.65%;
}

.cards-firstline-small {
    background: #ffffff;
    width: 100%;
    height: 100%;
}

.cards-firstline-small img {
    display: block;
    margin-left: 5.5rem;
    padding-top: 3.0625rem;
}

.cards-firstline-small .cards-words {
    width: 77.85%;
    text-align: center;
    margin-top: 1.5rem;
    margin-left: 2.375rem;
}

.cards-firstline-small .cards-type {
    position: relative;
    top: -0.25rem;
}

.cards-firstline-small .cards-description {
    position: relative;
    top: -0.375rem;
}

.cards-firstline a:nth-child(3) {
    width: 20.65%;
    margin-left: 0.625rem;
}

.cards-firstline a:last-child img {
    padding-top: 2.0625rem;
}

.cards-secondline {
    display: flex;
}

.cards-secondline-long {
    width: 41.98%;
    background: #ffffff;
    margin-right: 0.625rem;
}

.cards-secondline-long .cards-words {
    width: 46.91%;
    text-align: center;
    margin-left: 9.75rem;
    margin-bottom: 2.625rem;
}

.cards-secondline-long img {
    margin-left: 5.75rem;
}

.cards-secondline-long-wrap {
    position: relative;
    top: 0.375rem;
    padding-top: 3.6875rem;
}

.cards-secondline-shorts {
    width: 55.57%;
}

.cards-secondline-short1 {
    background: #282828;
}

.cards-secondline-short1 .cards-brand {
    color: #ffffff;
}

.cards-secondline-short1 .cards-type {
    color: #ffffff;
}

.cards-secondline-short1 {
    display: flex;
    overflow: hidden;
    margin-bottom: 0.625rem;
}

.cards-secondline-short1 img {
    position: relative;
    left: -12.25rem;
    top: 0.4375rem;
    padding-bottom: 0.375rem;
}

.cards-secondline-short1 .cards-words {
    position: relative;
    left: -8.6875rem;
    top: 7.3125rem;
}

.cards-secondline-short1 .cards-type {
    width: 30%;
}

.cards-secondline-short2 {
    position: relative;
    display: flex;
    overflow: hidden;
    background: #ffffff;
    height: 19.75rem;
}

.cards-secondline-short2 img {
    position: relative;
    left: 6rem;
    object-fit: cover;
    object-position: 0rem 0.5rem;
}

.cards-secondline-short2 .cards-words {
    margin-top: 5.75rem;
    margin-left: 3.9375rem;
}

/* offers section */

#textformobile {
    display: none;
}

.offers {
    margin-top: 13.75rem;
}

.offers .container {
    max-width: 88.3125rem;
    display: flex;
}

.offers-left {
    width: 59.7%;
}

.offers-title {
    font-size: 2.5rem;
    color: #191919;
    width: 95%;
    margin-bottom: 0.875rem;
}

.offers-text {
    font-size: 1.125rem;
    color: #191919;
    font-weight: 300;
}

.offers-subtitle {
    font-size: 2.5rem;
    color: #191919;
    font-weight: 300;
    margin-top: 1.625rem;
    margin-bottom: 1.0625rem;
}

.offers-btn {
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 2.9375rem;
    color: #ffffff;
    font-weight: 300;
    width: 3.0625rem;
    height: 3.0625rem;
    border-radius: 50%;
    background: #282828;
    margin-top: 2.5625rem;
}

.offers-btn:hover {
    background: #4d4c4c;
    transition: background .2s linear;
}

.offers-right {
    margin-top: 3.75rem;
    margin-left: 15.1875rem;
}

.offers-right img {
    margin-bottom: 1.9375rem;
}

.offers-right-text {
    margin-left: 0.125rem;
}

.offers-right .offers-title {
    margin-bottom: 0;
    line-height: 1.6875rem;
}

.undertitle {
    font-size: 1rem;
    color: #777777;
    font-weight: 300;
    margin-bottom: 1.9375rem;
}

.info-title {
    font-size: 1.5rem;
    color: #1d1d1d;
}

.underinfotitle {
    font-size: 1.125rem;
    color: #777777;
    font-weight: 300;
    margin-bottom: 1.3125rem;
}

.offers-right .offers-text {
    color: #1d1d1d;
}

/* ourclients */

.ourclients .container {
    max-width: 88.3125rem;
}

.ourclients-title {
    font-size: 2.5rem;
    color: #191919;
    text-align: center;
}

.ourclients-line {
    margin-top: 3.5rem;
    margin-bottom: 3.75rem;
    display: flex;
    justify-content: space-between;
}

.ourclients-client {
    width: 14.26%;
    text-align: center;
}

.ourclients-client img {
    webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.ourclients-client img:hover {
    webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: .2s;
}

.ourclients-client p {
    font-size: 0.875rem;
    margin-top: 0.4375rem;
    color: #373737;
    text-align: center;
    font-weight: 300;
}

.ourclients-client:nth-child(2) p {
    margin-top: 0.625rem;
}

.ourclients-client:nth-child(3) p {
    margin-top: 0.625rem;
}

.ourclients-client:nth-child(4) p {
    margin-top: 0.8125rem;
}

.ourclients-client:nth-child(5) p {
    margin-top: 0.6875rem;
}

.ourclients-client:nth-child(6) p {
    margin-top: 0.5rem;
}

.ourclients-line2 {
    display: flex;
    justify-content: space-between;
}

.ourclients-line2 p {
    font-size: 1rem;
}

.ourclients-line2 .ourclients-client:first-child img {
    margin-top: 2.625rem;
}

.ourclients-line2 .ourclients-client:nth-child(2) p {
    margin-top: 0.375rem;
}

.ourclients-line2 .ourclients-client:nth-child(2) img {
    margin-top: 1.125rem;
}

.ourclients-line2 .ourclients-client:nth-child(4) img {
    margin-top: 1.5625rem;
}

.ourclients-line2 .ourclients-client:nth-child(4) p {
    margin-top: 1.5625rem;
}

.ourclients-line2 .ourclients-client:nth-child(5) img {
    margin-top: 2.8125rem;
}

.ourclients-line2 .ourclients-client:nth-child(5) p {
    margin-top: 1.4375rem;
}

.ourclients-line2 .ourclients-client:nth-child(6) p {
    margin-top: 0.375rem;
    font-size: 0.875rem;
}

.ourclients-line2 .ourclients-client:nth-child(6) img {
    margin-top: 1rem;
}

.ourclients-line2 .ourclients-client:nth-child(6) {
    width: 14.5%;
}

.ourclients-line3 {
    margin-top: 3.75rem;
    display: flex;
    justify-content: space-between;
}

.ourclients-line3 a:first-child img {
    margin-top: 1.6875rem;
}

.ourclients-line3 a:nth-child(4) img {
    margin-top: 0.125rem;
}

.ourclients-line3 a:nth-child(5) img {
    margin-top: 1.4375rem;
}

.ourclients-line3 a:nth-child(6) img {
    margin-top: 0.1875rem;
}

/* contacts */

.contacts {
    background: #282828;
}

.contacts .container {
    display: flex;
    justify-content: space-between;
    max-width: 88.3125rem;
    padding-top: 5.5625rem;
    margin-top: 11.6875rem;
    padding-bottom: 4.875rem;
}

.contacts-title {
    font-size: 1.5rem;
    color: #777777;
    font-weight: 300;
    margin-bottom: 1.6875rem;
}

.contacts-list a, .contacts-info p {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 300;
}

.contacts-list li {
    margin-top: 0.25rem;
}

.contacts-info .contacts-title {
    font-size: 1.5rem;
    color: #777777;
    font-weight: 300;
    margin-bottom: 1.0625rem;
}

.contacts-info p:nth-child(5) {
    margin-top: 1.1875rem;
}

.contacts-info p:nth-child(7) {
    margin-top: 1.25rem;
}

.contacts-info p:nth-child(9) {
    margin-top: 1.1875rem;
}

/* footer */

footer {
    background: #1f1f1f;
}

footer .container {
    display: flex;
    justify-content: space-between;
    max-width: 88.3125rem;
    padding-top: 2.75rem;
    padding-bottom: 2.5rem;
}

.companylogo {
    display: flex;
}

.companylogo img {
    position: relative;
    bottom: 0.125rem;
}

.companylogo-text {
    margin-left: 1.0625rem;
}

.companylogo-text p:first-child {
    font-size: 1.5rem;
    color: #ffffff;
    line-height: 1.625rem;
}

.companylogo-text p:last-child {
    font-size: 1rem;
    color: #777777;
    font-weight: 300;
    line-height: 0.75rem;
}

.createdby p {
    position: relative;
    top: -0.4375rem;
    font-size: 1.125rem;
    color: #ffffff;
    font-weight: 300;
}



.mobile-nav {
    display: none;
}
